body {
    font-family: "微软雅黑";
    font-size: 16px;
}

.main {
    margin: 0 auto;
    width: 1000px;
    height: auto;
    background-color: #F8F8F8;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

.nav {
    width: 100%;
    height: auto;
}

.nav-bar {
    display: inline-block;
}

.nav-bar li {
    display: inline-block;
    margin-left: 30px;
    padding: 15px;
}

.nav-bar li a {
    text-decoration: none;
    color: black;
}

.nav-bar li.active {
    border-bottom: 4px solid red;
}
/*设置间隔线的css，在li中加入一个透明的span标签，使得li标签有高度，然后通过设置li标签背景渐变获得渐变效果的线*/
.nav-bar li.interval {
    width: 2px;
    padding: 15px 0px;
    background: -webkit-linear-gradient(gainsboro, black,gainsboro); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(gainsboro, black,gainsboro); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(gainsboro, black,gainsboro); /* Firefox 3.6 - 15 */
    background: linear-gradient(gainsboro, black,gainsboro);
}
.nav-bar li.interval span{
    border: 2px solid transparent;
}
/*设置渐变线结束*/
.button {
    display: inline-block;
}

.button input {
    margin-left: 20px;
    padding: 5px 15px;
    border: 0px;
    font-family: "微软雅黑";
    font-size: 16px;
    color: white;
    cursor: pointer;
}
